@use "~/assets/scss/global/variables" as *;
.map-container {
    width: 100vw;
    height: 100vh;
    background-color: #272d39;
}

// .bottom-btn {
//     z-index: 1000;
//     position: absolute;
//     bottom: 20px;
//     left: 0;

//     background-color: #e53935;
//     opacity: 0.7;
//     transform: translateX(20%);
//     border-radius: 4px;
//     font-family: "Exo 2";
//     pointer-events: auto;

//     transition: 0.2s ease;

//     &:hover {
//         opacity: 1;
//     }
// }
